<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>QueryText</display-name>
  
  <jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>  
  
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.grynchuk.querytext.filters.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AccessFilter</filter-name>
    <filter-class>com.grynchuk.querytext.filters.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description></description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>com.grynchuk.querytext.servlets.QueryServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PageNotFoundServlet</display-name>
    <servlet-name>PageNotFoundServlet</servlet-name>
    <servlet-class>com.grynchuk.querytext.servlets.PageNotFoundServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>BadRequestServlet</display-name>
    <servlet-name>BadRequestServlet</servlet-name>
    <servlet-class>com.grynchuk.querytext.servlets.BadRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServerErrorServlet</display-name>
    <servlet-name>ServerErrorServlet</servlet-name>
    <servlet-class>com.grynchuk.querytext.servlets.ServerErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageNotFoundServlet</servlet-name>
    <url-pattern>/404</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BadRequestServlet</servlet-name>
    <url-pattern>/400</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServerErrorServlet</servlet-name>
    <url-pattern>/500</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/400</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/500</location>
  </error-page>
</web-app>